# Application Mode
VITE_USER_NODE_ENV=development

# Development API URL
VITE_DEV_API_URL=http://localhost:5000/api

# Staging API URL
VITE_STAGING_API_URL=http://localhost:5000/api

# Production API URL
VITE_PROD_API_URL=http://localhost:5000/api
